<div class="dashboard-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Dashboard Home
          </a>
        </li>
        <li><a routerLink="edit-text" routerLinkActive="active">Edit Text</a></li>
        <li><a routerLink="edit-symbol" routerLinkActive="active">Edit Symbol</a></li>
        <li><a routerLink="edit-user" routerLinkActive="active">Edit User</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
