<div class="dashboard-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-tachometer-alt"></i>
            <span>Dashboard Home</span>
          </a>
        </li>
        <li>
          <a routerLink="edit-text" routerLinkActive="active">
            <i class="fa fa-font"></i>
            <span>Edit Text</span>
          </a>
        </li>
        <li>
          <a routerLink="edit-symbol" routerLinkActive="active">
            <i class="fa fa-shapes"></i>
            <span>Edit Symbol</span>
          </a>
        </li>
        <li>
          <a routerLink="edit-user" routerLinkActive="active">
            <i class="fa fa-users-cog"></i>
            <span>Edit User</span>
          </a>
        </li>
        <li class="logout-li">
          <a (click)="logout()">
            <i class="fa fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
