<nav class="navbar">
  
  <div class="navbar-left">
    <a routerLink="/home" class="brand">
      <img src="assets/images/Mattel-Brand.jpg" alt="Mattel Logo" class="brand-logo" />
      Vispectra
    </a>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      หน้าแรก
    </a>
    <a routerLink="/check" routerLinkActive="active">
      ตรวจเช็ค
    </a>
    <!--
<a routerLink="/check-history" routerLinkActive="active">
      ประวัติการตรวจ
    </a>-->
  
  </div>
  
  <div class="navbar-right">
    <a (click)="logout()">
      ออกจากระบบ
    </a>
  </div>
  
</nav>
