<app-navbar></app-navbar>

<div class="user-home-container">
  <!-- Card Section -->
   <h5>ยินดีต้อนรับสู่ Vispectra</h5>
          <p>ระบบตรวจการ์ดหลัง Toys ที่ทันสมัย</p>
  <div class="cards-container">
    <div class="card">
      <img src="assets/images/CheckCheck.png" alt="ตรวจเช็ค" />
      <h3>ตรวจเช็ค</h3>
      <p>เริ่มตรวจเช็คข้อมูลของคุณอย่างรวดเร็ว</p>
      <button routerLink="/check" class="btn-primary">เริ่มตรวจเช็ค</button>
    </div>

    <div class="card">
      <img src="assets/images/TimeHis.png" alt="ประวัติการตรวจ" />
      <h3>ประวัติการตรวจ</h3>
      <p>ดูประวัติและผลการตรวจของคุณย้อนหลัง</p>
      <button routerLink="/check-history" class="btn-primary">ดูประวัติ</button>
    </div>
  </div>
</div>
